html { 
    /* background: url(assets/images/bg.svg) no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }/* You can add global styles to this file, and also import other style files */